/********** GENERAL **********/
html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body{
	position: relative;
	margin: 0;
	padding-bottom: 6rem;
	min-height: 100%;
}
#container{
	margin: 0;
}
p{
	margin: 10px 0 10px 0;
}
/********** HEADER **********/
h1{
	font-size: 120%;
	display: inline-block;
	transform: translate(0, -200%);
	margin: 0 0 0 50px;
	background-color: #FFF;
}
/********** NAVIGATION BAR **********/
#navi{
	margin: 0;
	padding: 0;
	width: 100%;
	border-top: none;
	border-bottom: 1px solid gray;
}
#navi ul{
	list-style: none;
	float: left;
	margin: 2px 0 2px 10px;
	padding: 0;
}
#navi li{
	float: left;
}
#navi li a{
	background-color: rgb(0,155,217);
	outline: none;
	cursor: pointer;
	text-align: center;
	border-radius: 7px;
	box-shadow: 0px 0px 2px rgb(0,155,217);
	margin: 5px 5px;
	float: left;
	padding: 8px 30px;
	color: #000;
	text-decoration: none;
	font-weight: bold;
	display: block;
}
#navi li a:hover{
  background-color: rgb(0,177,237);
  cursor: pointer;
}
#navi li a:active {
	position: relative;
	top: 1px;
}
#navi:after{
	content: "";
	display: table;
	clear: both;
}
/********** MAIN CONTENT **********/
#maincontent{
	margin: 0 0 20px 0;
	padding: 0;
}

#createlist{
	padding: 0 0 10px 25px;
	display: none;
	border-bottom: 1px solid black;
}
.mainstuff{
	padding: 10px 0 0 25px;
}
#course{
	font-style: italic;
	font-size: 90%;
	margin: 20px 0 0 0;
}
/********** FOOTER **********/
#footer{
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #efefef;
	text-align: center;
}
#footer p{
	margin: 0;
}